body
{
	background-color: #9DC8D6;
	font-family: 'Audiowide', cursive;

	
}

#container
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	font-size:50px;
	color: white;
	margin: 10px;
	letter-spacing:3px;
	
	}

#menu
{
	background-color:#73849e;
	margin-top:10px;
	opacity: 0.85;
}

.opcja
{
	float:left;
	padding:10px 20px 10px 20px;
	border-right: 1px solid black;
	min-width:50px;
	height:25px;
	font-size:18px;
}

.opcja:hover
{
	cursor: pointer;
	background-color: #ff6702;
	
}

#topbar
{

}

#topbarL
{
float:left;	
}
#topbarR
{
float:left;
margin:20px;
text-align:justify;	
font-size:20px;
}

#sidebar
{
padding:20px 15px 15px 15px;
float:left;	
background-color:#cccccc;
min-width:200px;
min-height:587px;	
border-right: 2px dotted black;
}

.opcjaL
{
text-align:center;	
padding:10px 20px 10px 10px;
border-bottom: 1px solid black;	
}
.opcjaL:hover
{
cursor: pointer;
background-color: #ff6702;	
}

#content
{
padding:5px 15px 15px 15px;
float:left;	
text-align:justify;	
background-color:#dddddd;
width:938px;
min-height:475px;
font-size: 17px;
}

#footer
{
clear:both;	
text-align:center;
padding: 20px;
font-size: 18px;
}